tensorflow
numpy
matplotlib
Flask
Flask-Login
Flask-WTF
werkzeug
WTForms
Pillow
Flask-Babel
Flask-SQLAlchemy
itsdangerous
Flask-Mail
pymysql
groq
python-dotenv
gunicorn
mysql-connector-python
pymysql
email_validator
psutil
